aiohttp==3.7.3
astunparse==1.6.3
async-timeout==3.0.1
asyncpg==0.21.0
attrs==20.3.0
braceexpand==0.1.6
chardet==3.0.4
discord==1.0.1
discord.py @ git+https://github.com/Rapptz/discord.py.git@c793737e6462cf0d4432fce11e43a45378f9fcb7
humanize==3.2.0
idna==3.0
import-expression==1.1.4
jishaku==1.20.0.220
multidict==5.1.0
six==1.15.0
timeago==1.0.15
typing-extensions==3.7.4.3
yarl==1.6.3
psutil~=5.8.0