[Unit]
Description=Discord bot.
After=network-online.target

[Service]
User=Devbot
Environment=PYTHONPATH=/home/Devbot/Devbot
WorkingDirectory=/home/Devbot/Devbot
ExecStart=/home/Devbot/Devbot/venv/bin/python src/bot.py
TimeoutSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target